*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-image: url(./images/pattern-curve.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}

@media screen and (max-width: 610px) {
  body {
    background-size: 80%;
  }
}

.container {
  --padding: 64px;
  display: grid;
  grid-template-columns: 1fr min(1110px, calc(100% - (var(--padding) * 2))) 1fr;
  place-items: center;
  height: 100vh;
}

@media screen and (max-width: 1109px) {
  .container {
    --padding: 24px;
    height: initial;
    padding-top: var(--padding);
    padding-bottom: 80px;
    place-items: start;
  }
}

@media screen and (min-width: 768px) and (min-height: 530px) and (max-width: 1109px) {
  .container {
    --padding: 32px;
    padding-top: calc(var(--padding) * 2);
  }
}

.container > * {
  grid-column: 2;
}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1109px) {
  .slider {
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    justify-items: center;
    row-gap: 82px;
    margin-top: 0;
  }
}

.photo-and-controls-wrapper {
  position: relative;
  z-index: 1;
  width: min-content;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.photo-and-controls-wrapper::after {
  content: "";
  position: absolute;
  top: -63px;
  right: -92px;
  z-index: -1;
  display: block;
  width: 697px;
  height: 657px;
  background-image: url(./images/pattern-bg.svg);
  background-size: 697px 657px;
  background-repeat: no-repeat;
  background-position: center center;
}

.photo {
  display: block;
  width: 550px;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
}

.controls {
  position: absolute;
  left: 62px;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  width: 112px;
  height: 56px;
  background-color: hsl(255, 100%, 100%);
  border-radius: 50px;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  overflow: hidden;
}

@media screen and (max-width: 1109px) {
  .photo-and-controls-wrapper {
    grid-column: 1;
    grid-row: 1;
    justify-self: inherit;
    width: fit-content;
    height: fit-content;
    padding-block: clamp(6px, 8vw, 40px);
    padding-inline: clamp(8px, 10vw, 50px);
    background-image: url(./images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .photo-and-controls-wrapper::after {
    display: none;
  }
  .photo {
    display: block;
    width: 100%;
    max-width: 255px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .controls {
    width: 80px;
    height: 40px;
    bottom: clamp(6px, 8vw, 40px);
    left: 50%;
    transform: translateX(-50%) translateY(50%);
  }
}

@media screen and (min-width: 768px) and (min-height: 530px) and (max-width: 1109px) {
  .photo {
    max-width: 350px;
  }
}

.controls .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.controls .btn:hover,
.controls .btn:focus {
  outline: none;
  background-color: #f4f4fc;
}

.btn.next:active {
  box-shadow: inset 10px 1px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn.previous:active {
  box-shadow: inset -10px 1px 15px -3px rgba(0, 0, 0, 0.1);
}
.btn.previous::before {
  content: url(./images/icon-prev.svg);
}

.btn.next::before {
  content: url(./images/icon-next.svg);
}

@media screen and (max-width: 1109px) {
  .btn.previous::before,
  .btn.next::before {
    transform: scale(0.8);
  }
}

.text-content {
  position: relative;
  z-index: 2;
  grid-column: 1 / -1;
  grid-row: 1;
}

.text-content::after {
  content: "";
  position: absolute;
  top: -66px;
  left: 96px;
  z-index: -1;
  display: block;
  width: 120px;
  height: 100px;
  background-image: url(./images/pattern-quotes.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.quote {
  max-width: 32ch;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
  color: hsl(240, 38%, 20%);
}

.name,
.designation {
  display: inline-block;
  font-size: 20px;
}

.name {
  margin-top: 40px;
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}

.designation {
  margin-left: 5px;
  color: hsl(240, 18%, 77%);
}

@media screen and (max-width: 1109px) {
  .designation {
    margin-left: 0;
  }
}

@media screen and (max-width: 1109px) {
  .text-content {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }

  .text-content::after {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 50px;
  }
  .quote {
    max-width: 45ch;
    font-size: 18px;
  }
  .name,
  .designation {
    display: block;
    font-size: 16px;
  }
  .name {
    margin-top: 20px;
  }
  .designation {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) and (min-height: 530px) and (max-width: 1109px) {
  .quote {
    font-size: 20px;
  }
  .name,
  .designation {
    font-size: 18px;
  }
}
